.calculate {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    border: 3px solid #73AD21;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.informationtrue {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    border: 2px solid #73AD21;
    text-align: center;
    padding: 50px;
}

.informationfalse {
    display: none;
}

.input {
    display: flex;
    align-items: center;
    padding: 4px;
    text-align: center;
}